{
  "PublisherId": "CN=8D6FED95-FA54-455C-A862-28CF72C13454",
  "PublisherDisplayName": "SADLogic",
  "PackageIdentityName": "14831SADLogic.AnotherCreatorsTestGame",
  "DisplayName": "Another Creators Test Game",
  "AppId": "9PLX65N9M20V",
  "ProductFamilyName": "14831SADLogic.AnotherCreatorsTestGame_7nvczwx1hzhfy",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-00007209969d",
  "TitleId": 1913231005,
  "Sandbox": "SOCGZL.58",
  "XboxLiveCreatorsTitle": true
}